{% extends "layout.html" %}

{% block title %}
    Fat Percentage
{% endblock %}

{% block main %}
    <h1 class= "left" ><strong><span class = "blue">Body</span><span class = "yellow"> Fat</span><span class = "red"> Percentage</span></strong></h1>
    <p class = "left">The body fat percentage is the total mass of fat divided by total body mass, multiplied by 100
    body fat includes essential body fat and storage body fat. Body fat percentage is a measure of fitness level,
    since it is the only body measurement which directly calculates a person's relative body composition without regard to height or weight.
    The widely used BMI provides a measure that allows the comparison of the adiposity of individuals of different heights
    and weights. While BMI largely increases as adiposity increases, due to differences in body composition, other indicators of body fat give
    more accurate results for example, individuals with greater muscle mass or larger bones will have higher BMIs. As such, BMI is a useful
    indicator of overall fitness for a large group of people, but a poor tool for determining the health of an individual.</p>

    <p><br></p>
    <h1><strong>Fat Percentage</strong> <span class = "red">Calculator</span></h1>
    <p><br></p>

    <form action="/fat" method="post">

        <div class="form-group">
            <input autocomplete = "off" class="form-control" name="gender" placeholder="Gender" type="text" autofocus>
            <input autocomplete = "off" class="form-control" name="weight" placeholder="Your weight in Kilograms" type="number">
            <input autocomplete = "off" class="form-control" name="height" placeholder="Height in centi-meters" type="number">
            <input autocomplete = "off" class="form-control" name="age" placeholder="Enter your age" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>

{% endblock %}
