{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
    <h1>Hello and Welcome to taking your first step towards a healthy life</h1>
    <p><br><br></p>
    <p style="font-size:17px;"class = "left">Getting fit is something almost every person wants to do.<br> It is a difficult process that takes determination and motivation<br>
    but almost all of us at some point or another have encountered<br> a few advices from our loved ones on how to go about it.<br> Some of
    the tips given to you might be correct but also a lot to<br> take and it can get overwhelming. Well here we have a few<br> calculators that can
    help you set daily goals and mark your progress<br> as you embark upon this great journey to a healthy life!</p>

    <p style="font-size:22px; "class = "right "class = "quote"><strong>IT'S A<br> SLOW <br>PROCESS, BUT<br> QUITTING WON'T<br> SPEED IT UP</strong></p>
{% endblock %}
